<ng-container *ngFor="let col of columns">
  {{col.name}}
</ng-container>

<div class="mat-elevation-z4">
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows
         class="mat-elevation-z8">
    <ng-container matColumnDef="{{col.alias}}" *ngFor="let col of columns">
      <th mat-header-cell *matHeaderCellDef> {{col.name}} </th>
      <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<!--    <ng-container matColumnDef="expandedDetail">-->
<!--      <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">-->
<!--        <div class="example-element-detail"-->
<!--             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">-->
<!--          <div class="example-element-diagram">-->
<!--            <div class="example-element-position"> {{element.id}} </div>-->
<!--            <div class="example-element-symbol"> {{element.cityName}} </div>-->
<!--            <div class="example-element-name"> {{element.streetName}} </div>-->
<!--            <div class="example-element-weight"> {{element.homeNo}} </div>-->
<!--          </div>-->
<!--          <div class="example-element-description">-->
<!--            {{element.description.str}}-->
<!--            <span class="example-element-description-attribution"> &#45;&#45; Wikipedia </span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </td>-->
<!--    </ng-container>-->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
</div>
