<div fxLayout="row" style="padding-bottom: 20px">
<div fxFlex="20"></div>
<mat-card style="margin-top: 20px" fxFlex="60">
  <form [formGroup]="cityForm" (ngSubmit)="add()">
  <mat-card-header>
    <h1>Nowa miejscowość</h1>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center" style="padding-top: 20px">
      <mat-form-field appearance="outline">
        <mat-label>Nazwa miejscowości</mat-label>
        <input matInput id="cityName" formControlName="cityName" required autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Kod pocztowy</mat-label>
        <input matInput id="postalCode" formControlName="postalCode" required autocomplete="off" pattern="[0-9]{2}-[0-9]{3}">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Kod SIMC</mat-label>
        <input id="simc" formControlName="simc" matInput required autocomplete="off">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-raised-button color="primary" style="float: right" type="submit">Dodaj</button>
  </mat-card-actions>
  </form>
</mat-card>
<div fxFlex="20"></div>
</div>
<app-cities-table></app-cities-table>
