<mat-toolbar color="primary" class="mat-elevation-z8 toolbar-ed">
  <div fxLayout="col" fxFlex="10%">
    <span>{{title}}</span>
    <button mat-icon-button matTooltip="Strona główna" *ngIf="loggedIn" [routerLink]="['/home']"><mat-icon>home</mat-icon></button>
  </div>
  <div fxLayout="col" fxFlex="85" *ngIf="loggedIn">
    <button mat-button [matMenuTriggerFor]="menuAddress">Adres</button>
    <mat-menu #menuAddress>
      <button mat-menu-item [routerLink]="['/city/add-new']">
        Dodaj nową miejscowość
      </button>
      <button mat-menu-item [routerLink]="['/street/add-new']">
        Dodaj nową ulicę
      </button>
      <button mat-menu-item [routerLink]="['/location/add-new']">
        Dodaj nową lokalizację
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuTechnology">Technologia</button>
    <mat-menu #menuTechnology>
      <button mat-menu-item [routerLink]="['/technology/add-new']">
        Dodaj nową
      </button>
    </mat-menu>
    <button mat-button [routerLink]="['/map/show-points']">Mapa</button>
    <button mat-button [routerLink]="['/statistic']" routerLinkActive="router-link-active" >Statystyka</button>
    <a mat-button href="https://1drv.ms/w/s!AlkgA7J997qLgrVRrn6vduMitsf6JA?e=4oCvFy" target="_blank">Dokumentacja</a>
    <button mat-button [mat-menu-trigger-for]="git">GitHub</button>
    <mat-menu #git>
      <button mat-menu-item (click)='this.forwardGithub("backend")'>
        Backend
      </button>
      <button mat-menu-item (click)='this.forwardGithub("frontend")'>
        Frontend
      </button>
    </mat-menu>
  </div>
  <div fxLayout="col" fxFlex="10" *ngIf="loggedIn" matTooltip="Zalogowany jako">
    <mat-icon>person</mat-icon>
    <span class="mat-body-2">{{ loggedAs }}</span>
  </div>
  <div *ngIf="loggedIn" fxLayout="col">
    <button mat-icon-button matTooltip="Wyloguj" (click)="logout()">
      <mat-icon>meeting_room</mat-icon>
    </button>
  </div>
</mat-toolbar>
